<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>EasyMall</display-name>
  <servlet>
    <servlet-name>SaleInfoListServlet</servlet-name>
    <servlet-class>web.SaleInfoListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaleInfoListServlet</servlet-name>
    <url-pattern>/toSaleInfoListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderDeleteServlet</servlet-name>
    <servlet-class>web.OrderDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDeleteServlet</servlet-name>
    <url-pattern>/servlet/OrderDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>callBack</servlet-name>
    <servlet-class>web.CallBackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>callBack</servlet-name>
    <url-pattern>/servlet/CallBackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>web.PayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/PayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>toOrderList</servlet-name>
    <servlet-class>web.ToOrderList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toOrderList</servlet-name>
    <url-pattern>/toOrderList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>toOrder</servlet-name>
    <servlet-class>web.ToOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toOrder</servlet-name>
    <url-pattern>/toOrder</url-pattern>
  </servlet-mapping>
  
  <listener>
    <listener-class>listener.MyScListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>addCar</servlet-name>
    <servlet-class>web.CartAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCar</servlet-name>
    <url-pattern>/servlet/CartAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProdInfoServlet</servlet-name>
    <servlet-class>web.ProdInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdInfoServlet</servlet-name>
    <url-pattern>/servlet/ProdInfoServlet</url-pattern>
  </servlet-mapping>
<servlet>
  <servlet-name>productPage</servlet-name>
  <servlet-class>web.ProdPageServlet</servlet-class>
</servlet>
  <servlet-mapping>
    <servlet-name>productPage</servlet-name>
    <url-pattern>/servlet/ProdPageServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>updateProdut</servlet-name>
    <servlet-class>web.back.AjaxChangePnumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateProdut</servlet-name>
    <url-pattern>/servlet/AjaxChangePnumServlet</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>load</servlet-name>
    <servlet-class>test.upload.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>load</servlet-name>
    <url-pattern>/test/load</url-pattern>
  </servlet-mapping>




  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>web.RegistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ValiImageServlet</servlet-name>
    <servlet-class>web.ValiImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxCheckUserNameServlet</servlet-name>
    <servlet-class>web.AjaxCheckUserNameServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>web.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>web.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addproduct</servlet-name>
    <servlet-class>web.back.BackproducaddtServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addproduct</servlet-name>
    <url-pattern>/servlet/BackProdAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listProduct</servlet-name>
    <servlet-class>web.back.BackProdListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listProduct</servlet-name>
    <url-pattern>/servlet/BackProdListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>main</servlet-name>
    <servlet-class>web.MainService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>delete</servlet-name>
    <servlet-class>web.back.ProdDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartUpdateServlet</servlet-name>
    <servlet-class>web.CartUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderAddServlet</servlet-name>
    <servlet-class>web.OrderAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadSalesServlet</servlet-name>
    <servlet-class>web.DownloadSalesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadSalesServlet</servlet-name>
    <url-pattern>/DownloadSalesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderAddServlet</servlet-name>
    <url-pattern>/servlet/OrderAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartUpdateServlet</servlet-name>
    <url-pattern>/servlet/CartUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>delete</servlet-name>
  <url-pattern>/deltePro</url-pattern>
</servlet-mapping>

  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValiImageServlet</servlet-name>
    <url-pattern>/ValiImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxCheckUserNameServlet</servlet-name>
    <url-pattern>/AjaxCheckUserNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>



  <listener>
    <listener-class>listener.SessionCarListener</listener-class>
  </listener>
  <filter>
    <filter-name>encode</filter-name>
    <filter-class>filte1.EncoderFilter</filter-class>
    <init-param>
      <param-name>encode</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encode</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>noCacheFilter</filter-name>
    <filter-class>filte1.NoCacheFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>noCacheFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>loginFiler</filter-name>
    <filter-class>filte1.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFiler</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>




  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>